aside {
    position: fixed;
    border-right: 1.25px solid #eee;
    width: 210px;
    height: 100%;
    background: white;
}

.inner {
    padding-top: 64px;    
    margin-left: 18px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    .avatar-container {
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        margin-right: 14px;
        cursor: pointer;
    }
    .name {
        display: flex;
        flex-direction: column;
        .display {
            cursor: pointer;
            font-size: 1.2rem;
        }
        .id {
            cursor: pointer;
            font-size: .9rem;
            color: #aaa;
        }
    }

}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;


    .menu-item {
        cursor: pointer;
        margin-left: 4px;
        display: flex;
        align-items: center;
        color: #555;
        margin-bottom: 8px;
        width: 85%;
        height: 2rem;

        .menu-title {
            margin-left: 12px;
        }
    }
    .menu-item.active-item {
        color: #008FFE;
        filter: drop-shadow(0 0 2px rgba(0, 143, 254, .25));
    }    

}


.category {
    display: block;
    margin: 1.5rem 0;
    font-size: .9rem;
    color: #ccc;
    font-weight: bold;
}

#upload-avatar, #upload-avatar-url {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 800px) {
    aside {
        margin-top: 0;        
    }
    .inner {
        padding-top: 18px;        
    }
}    