<aside *ngIf="initialized">
  <div class="inner">
    <div class="profile">
      <img src="{{user.profile_image_url}}" (click)="openProfile()" alt="you" class="avatar">
      <div class="name">
        <span class="display" (click)="openProfile()">{{user.name}}</span>
        <span class="id" (click)="openProfile()">@{{user.screen_name}}</span>
      </div>
    </div>
    <ul class="menu" (click)="onMenuClicked()">
      <li class="menu-item" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:
        true}" routerLinkActive="active-item">
        <i class="material-icons icon">filter_list</i>
        <span class="menu-title">タイムライン</span>
      </li>
      <li class="menu-item" [routerLink]="['/union']" routerLinkActive="active-item">
        <i class="material-icons icon">call_merge</i>
        <span class="menu-title">ユニオン</span>
      </li>
    </ul>
    <span class="category">開発中リリース</span>
    <ul class="menu" (click)="onMenuClicked()">
    </ul>
  </div>
</aside>
