<aside *ngIf="initialized">
  <div class="inner">
    <div class="profile">
      <div class="avatar-container">
          <img src="{{user.profile_image_url}}" (click)="openProfile()" alt="you" class="avatar">          
      </div>
      <div class="name">
        <span class="display" (click)="openProfile()">{{user.name}}</span>
        <span class="id" (click)="openProfile()">@{{user.screen_name}}</span>
      </div>
    </div>
    <ul class="menu" (click)="onMenuClicked()">
      <li class="menu-item" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:
        true}" routerLinkActive="active-item">
        <i class="material-icons icon">filter_list</i>
        <span class="menu-title">タイムライン</span>
      </li>
      <li class="menu-item" [routerLink]="['/notify']" [routerLinkActiveOptions]="{exact:
          true}" routerLinkActive="active-item">
          <i class="material-icons icon">notifications</i>
          <span class="menu-title">通知</span>
        </li>
        <li class="menu-item" [routerLink]="['/union']" routerLinkActive="active-item">
        <i class="material-icons icon">call_merge</i>
        <span class="menu-title">ユニオン</span>
      </li>
    </ul>
    <span class="category">アカウント</span>        
    <ul class="menu" (click)="onMenuClicked()">
        <li class="menu-item" [routerLink]="['/logout']" routerLinkActive="active-item">
          <i class="material-icons icon">exit_to_app</i>
          <span class="menu-title">ログアウト</span>
        </li>  
    </ul>

    <span class="category">開発中リリース</span>    
  </div>
</aside>
