main {
    position: fixed;
    z-index: 1;
    width: 100%;
    max-height: 100%;
    height: calc(100% - 48px);
    overflow-x: hidden;
    margin-top: 48px;
}      

tl-left-sidebar {
    transition: .25s;        
    position: fixed;
    left: -210px;
    top:0;
    background: #fff;
    height: 100%;
}

.spMenuOpen {
    transition: .25s;
    left:0;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 800px) {
    main {
        background: #fefefe;
        display: flex;
        width: 100%;
        height: calc(100% - 48px);
        margin-top: 0;
      }

      tl-left-sidebar {
        position: initial;
        left: 0;
        top: 48px;
        margin-right: 210px;
        background: #fff;
        height: 100%;
    }    
}