@media screen and (min-width: 961px) {
  header {
    width: 100%;
    height: 48px;
    color: #fff;
    background: #008FFE;
    h1 {
      margin-left: 32px;
      font-size: 1.25rem;
      line-height: 48px;
    }
    .menu {
      display: none;
    }
  }
}

@media screen and (max-width: 640px) {
    header {
      position: fixed;
      width: 100%;
      top:0;
      left:0;      
        display: flex;
        justify-content: center;
        align-items: center;
        background: #008FFE;
        height: 48px;
        color: #fff;        
    }
    .menu {
        position: fixed;
        top: 0;
        left: 18px;
        margin: auto;
        height: 48px;
        line-height: 48px;
        cursor: pointer;
    }
  .title {
    text-align: center;
    h1 {
        text-align: center;
    }
  }
}
