<div class="modal">
  <i class="close material-icons" (click)="closeModal()">close</i>
  <div class="avatar-wrapper">
      <img [src]="user.avatarUrl" class="avatar" [alt]="user.userId">
      <img class="sp-official"  src="/assets/img/icons/official.svg" alt="official">  
  </div>
    
    <div class="top">
      <h3 class="displayName">
        {{user.displayName}}
        <img class="pc-official" *ngIf="user.official" src="/assets/img/icons/official.svg" alt="official">  
      </h3>
      <span class="meta">
        @{{user.userId}}<br>
        {{user.location}}
      </span>

      <div class="links">
        <a [href]="user.websiteUrl" *ngIf="user.websiteUrl !== ''">
            <img src="./assets/img/icons/website.svg">            
        </a>
      </div>
    </div>
    <div class="bottom">
      <div class="ff">
        <div class="following">
          <span class="count">{{user.following.length}}</span>
          <span class="label">FOLLOWING</span>          
        </div>
        <div class="follower">
            <span class="count">{{user.followers.length}}</span>
            <span class="label">FOLLOWERS</span>
        </div>
      </div>

      <!-- 後で分割 -->
      <div class="actions" *ngIf="!own">
        <button class="large-btn follow" [disabled]="user.sample" [class.btn-disabled]="user.sample" [class.btn-warn]="followState === 'Remove'" (click)="followClick()">
          {{followState}}
        </button>  
      </div>
    </div>
</div>