<div class="modal">
    <img [src]="data.user.avatarUrl" class="avatar" [alt]="data.userId">
    
    <div class="top">
      <h3 class="displayName">{{data.user.displayName}}</h3>
      <span class="meta">
        @{{data.user.userId}}<br>
        {{data.user.location}}
      </span>

      <div class="links">
        <a [href]="data.user.websiteUrl" *ngIf="data.user.websiteUrl !== ''">
            <img src="./assets/img/icons/website.svg">            
        </a>
      </div>
    </div>
    <div class="bottom">
      <div class="ff">
        <div class="following">
          <span class="count">{{data.user.followingCount}}</span>
          <span class="label">FOLLOWING</span>          
        </div>
        <div class="follower">
            <span class="count">{{data.user.followersCount}}</span>
            <span class="label">FOLLOWERS</span>
        </div>
      </div>

      <!-- 後で分割 -->
      <button class="large-btn follow">
        Follow
      </button>
    </div>
</div>