#page {
    background: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #444444;
}

.login {
    width: 380px;
    height: 440px;
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .inner {
        width: 60%;
    }

    h1 {
        font-size: 2.3rem;
        font-weight: 100;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;

        input[type=text], input[type=email], input[type=password], .submit {
            margin: .5rem 0;
            border-radius: 32px;
            border: none;
            background: none;
            font-size: .85rem;
            transition: 0.25s;                        
        }

        .ng-invalid.ng-dirty {
            transition: 0.25s;
            border: 1.25px solid #ef6277;
            box-shadow: 0 0 4px rgba(239,98,119,1);        
        }

        input[type=text], input[type=email], input[type=password] {
            height: 2rem;            
            border: 1px solid #cccccc;
            padding: 4px 24px;
        }

        .submit {
            font-size: 1.25rem;
            margin-top: 1.5rem;
            background: #01c4f6;  /* fallback for old browsers */
            box-shadow: 0 0 1px rgba(0,0,0,0.25);            
            
            cursor: pointer;
            color: #fff;
            font-weight: 300;
            padding: 14px 24px;     
        }

        .submit-disabled {
            background: #aaa;
        }

        .error {
            color: #ef6277;
            text-align: center;
            margin-bottom: 1rem;
        }
    }
}

.newuser {
    font-size: .9rem;
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #888;
    line-height: 1.2rem;
    a {
        color: #888;
    }
}