<div id="page">
  <div class="login">
          <div class="inner">
                  <h1>Sign up</h1>
                  <form #loginForm="ngForm" method="post">
                      <span class="error" *ngIf="formErr">エラーが発生しました。</span>
                      <input type="text" value="" name="name" placeholder="ID" [(ngModel)]="form.id" required>                      
                      <input type="email" value="" name="email" placeholder="Email" [(ngModel)]="form.mail" email required>                      
                      <input type="password" value="" name="password" placeholder="Password" [(ngModel)]="form.password" required>
                      <button (click)="onSubmit()" class="submit"
                      [disabled]="!loginForm.form.valid"
                      [class.submit-disabled]="!loginForm.form.valid">Sign up</button>
                  </form>
          </div>
      </div>
</div>
