@media screen and (min-width: 961px) {
    main {
        background: #fefefe;
        overflow: hidden;
        display: flex;
        width: 100%;
        height: calc(100% - 48px);
      }

      .contents {
          padding: 32px;
      }

    .users {
        display: flex;
        .card {
            transition: .25s;
            margin-left: 24px;
            cursor: pointer;
            display: flex;
            height: 100%;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,.25);
            padding: 24px;
            min-width: 240px;

            &:first-child {
                margin-left: 0;
            }

            .avatar {
                width: 120px;
                height: 120px;
            }
    
            .meta {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 1rem;
                .displayName {
                    font-size: 1.5rem;
                    margin-bottom: 4px;
                }
                .userID {
                    font-size: 1rem;
                    color: #aaa;
                }
            }

            &:hover {
                transition: .25s;
                box-shadow: 0 4px 32px rgba(0,0,0,.5);                
            }
        }    
    }
}

@media screen and (max-width: 640px) {
    .users {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: calc(100vh - 48px);
        .card {
            transition: .25s;
            cursor: pointer;
            display: flex;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,.25);
            padding: 24px;
            width: 75vw;
            margin-top: 12px;
            
            .avatar {
                width: 72px;
                height: 72px;
            }
    
            .meta {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 1.5rem;
                .displayName {
                    font-size: 1.5rem;
                    margin-bottom: 4px;
                }
                .userID {
                    font-size: 1rem;
                    color: #aaa;
                }
            }

            &:hover {
                transition: .25s;
                box-shadow: 0 4px 32px rgba(0,0,0,.5);                
            }
        }
    }
}