<main *ngIf="initialized">
  <tl-modal [size]="modalSize" (followClicked)="followClickedHandler($event)"></tl-modal>    
  <div class="contents">
    <div class="users">
      <div class="card" *ngFor="let user of users" (click)="openProfile(user)">
        <img [src]="user.avatarUrl" class="avatar" alt="avatar">
        <div class="meta">
          <span class="displayName">{{user.displayName}}</span>
          <span class="userID">@{{user.userId}}</span>
        </div>
      </div>
    </div>
  </div>
</main>
