<div class="newpost">
    <div class="post-top">
            <div class="left">
                    <!-- API -->
                    <img src="/assets/img/logo.png" class="my-avatar" alt="USER_NAME">
            </div>
            <div class="right">
                    <textarea
                    class="post-body"
                    placeholder="今何してる？"
                    [(ngModel)]="inputText"
                    required></textarea>
            </div>
    </div>
    <div class="post-bottom">
      <span class="inputLength" [class.tooLong]="inputText.length > 140">{{inputText.length}}</span>
      <tl-button text="投稿" [disabled]="!checkPostable()" (click)="submit()"></tl-button>
    </div>
</div>
