.post-top {
  display: flex;
  width: 100%;
  .left {
    margin-right: 8px;
    .avatar {
      display: block;
      width: 48px;
      height: 48px;
    }
  }
  .right {
    width: 100%;
    .post-body {
      display: block;
      color: #555;
      border: none;
      resize: none;
      font-size: 1.1rem;
      width: 100%;
      min-height: 5rem;
    }
  }
}

.post-bottom {
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: flex-end;
  .inputLength {
    transition: 0.25s;
    margin-right: 8px;
    font-size: 1.2rem;
    color: #555;
  }
}

.tooLong {
  transition: 0.25s;
  color: red;
}

.fatal {
  font-weight: bold;
  color: crimson;
}

.newpost {
  width: 75vw;
  max-width: 90%;
  margin: 0 auto;
  padding: 12px 18px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .25) 0 4px 8px;
  margin-top: 8px;
}

@media screen and (min-width: 800px) {
  .newpost {
    width: 50vw;
    max-width: 90%;
    margin: 0 auto;
    padding: 12px 18px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .25) 0 4px 8px;
  }
}
