.page {
    display: flex;
    width: 100vw;
    height: calc(100vh - 48px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .buttons {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        .yes, .no {
            cursor: pointer;
            color: #fff;
            border: none;
            padding: 12px;
            border-radius: 2px;
            font-size: 1rem;
            font-weight: bold;
            box-shadow: 0 0 2px rgba(0, 0, 0, .25);
            transition: .25s;
        }
        .yes:hover, .no:hover {
            box-shadow: 0 0 12px rgba(0, 0, 0, .5);            
        }
        .yes:active, .no:active {
            box-shadow: 0 0 4px rgba(0, 0, 0, .5);                        
        }
        .yes {
            margin-right: 12px;
            background: #008FFE;          
        }
        .no {
            background: #aaa;
        }
    }
}

@media screen and (min-width: 800px) {
    .page {
        width: calc(100vw - 210px);     
    }
}