#page {
  background: #2196F3; // Fallback
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #444444;
}

.login {
  width: initial;
  height: initial;
  background: #fff;
  box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 420px;
  .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 140px;
    height: auto;
    object-fit: scale-down;
    margin-top: 48px;
    margin-bottom: 32px;
  }
  form {
    .input,
    .submit {
      display: block;
      margin: 0 auto;
      border: none;
      background: none;
      font-size: 1rem;
      transition: 0.25s;
    }
    .input {
      width: 65%;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
      padding: 4px 8px;
      outline: 0;
      height: 2rem;
      color: #333;
      margin-bottom: 21px;
      transition: .5s;
    }
    .input:hover {
      box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
    }
    .ng-invalid.ng-dirty:focus {
      box-shadow: 0 0 12px rgba(255, 0, 0, .75);
    }
    .ng-invalid.ng-dirty {
      box-shadow: 0 0 8px rgba(255, 0, 0, .75);
    }
    .input:focus {
      box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
    }
    .submit {
      width: 100%;
      margin-top: 3rem;
      background: #2196F3;
      /* fallback for old browsers */
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      color: #fff;
      font-weight: 100;
      padding: 18px 0;
      font-size: 1.25rem;
      transition: .5s;
    }
    .submit-disabled {
      transition: .25s;
      background: #aaa;
    }
     ::-webkit-input-placeholder {
      color: #ccc !important;
    }
     :-moz-placeholder {
      color: #ccc !important;
    }
     ::-moz-placeholder {
      color: #ccc !important;
    }
     :-ms-input-placeholder {
      color: #ccc !important;
    }
    .error-wrapper {
      height: 1.5rem;
      text-align: center;
      .error {
        text-align: center;
        transition: .25s;
        color: #ef6277;
        line-height: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.newuser {
  display: block;
  text-align: center;
  margin-top: 1.75em;
  color: #fff;
  line-height: 1.2rem;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  #page {
    background: #555;
  }
  .login {
    background: none;
    box-shadow: none;
    form{
      .input {
        background: #fff;
      }
      .submit {
        font-size: 1.1rem;
        width: 70%;
        padding: 8px 0;
      }
    }  
  }
}