<div class="card">
    <div class="post-top">
        <div class="left">
          <img (click)="profileClick()" [src]="post.user.avatarUrl" class="avatar" [alt]="post.userId">
        </div>
        <div class="right">
          <span class="name">{{post.user.displayName}}</span>
          <span class="meta">
            @{{post.userId}}&nbsp;
            {{post.createdDate}}
          </span>
        </div>
  </div>
  <span class="post-body">
      {{post.text}}
  </span>
  <div class="post-bottom">
      <i class="icon reply"></i>
      <i class="icon share"></i>
      <i class="icon like"></i>
    </div>
</div>