<div class="card">
    <div class="post-top">
        <div class="left">
          <!-- API -->
          <img src="/assets/img/logo.png" class="avatar" alt="USER_NAME">
        </div>
        <div class="right">
          <span class="name">TinyKitten</span>
          <span class="meta">
            @tinykitten&nbsp;
            45秒前
          </span>
        </div>
  </div>
  <span class="post-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </span>
  <div class="post-bottom">
      <i class="icon reply"></i>
      <i class="icon share"></i>
      <i class="icon like"></i>
    </div>
</div>