<div class="card">
    <div class="post-top">
        <div class="left">
          <img (click)="profileClick()" [src]="post.user.profile_image_url" class="avatar" [alt]="post.user.screen_name">
        </div>
        <div class="right">
          <span class="name">{{post.user.name}}</span>
          <span class="meta">
            @{{post.user.screen_name}}&nbsp;
            {{date}}
          </span>
        </div>
  </div>
  <span class="post-body">
      {{post.text}}
  </span>
  <div class="post-bottom">
      <i class="reaction material-icons">reply</i>      
    <i class="reaction material-icons">share</i>
    <i class="reaction material-icons">favorite</i>      
    
  </div>
</div>