.timeline {
    width: calc(100vw - 240px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    overflow-y: scroll;

    .newpost {
        width: 50vw;
        max-width: 90%;
        margin: 0 auto;
        padding: 12px 24px;
        background: #fff;
        box-shadow: rgba(0,0,0,.25) 0 4px 8px;
        .post-top {
            display: flex;
            width: 100%;
            .left {
                margin-right: 8px;
                .my-avatar {
                    display: block;
                    width: 48px;
                    height: 48px;
                }
            }

            .right {
                width: 100%;
                .post-body {
                    display: block;
                    color: #555;
                    border: none;
                    resize: none;
                    font-size: 1.1rem;
                    width: 100%;
                    min-height: 5rem;
                }
            }
        }

        .post-bottom {
            display: flex;
            margin-top: 8px;
            align-content: center;
            justify-content: flex-end;
        }

        .submit-disabled {
            transition: 0.25s;
            cursor: default;
            background: #aaa;
        }
    }
}

// TODO: 後で分離
.btn {
    transition: 0.25s;    
    cursor: pointer;
    background: #008FFE;
    border: none;
    color: #fff;
    border-radius: 1px;
    font-size: 1rem;
    padding: 2px 1.85rem;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 2px;
}