.page {
    width: 100vw;
    header {
        position: relative;
        background: #555;
        background: url('/assets/img/sample_cover.jpg');      
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        width: 100%;

        .cover {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 32px 0;
            background: rgba(0,0,0,.5);
        }

        .edit {
            input[type="text"] {
                width: 180px;
                text-align: center;
                color: #fff;
                background: none;
                border: none;
                border-bottom: .75px solid rgba(255,255,255,.5);
            }
        }

        .name {
            font-size: 1.5rem;
            line-height: 2.25rem;
        }

        .screen-name {
            line-height: 1.2rem;            
            font-size: .95rem;
       
        }

        .meta {
            font-size: .75rem;
            margin-top: .5rem;
        }
        a.meta {
            color: #fff;
            text-decoration: none;
        }
    }

    .badge-wrapper {
        position: relative;
    }
    .header-badge {
        transition: 0.5s;            
        position: absolute;
        cursor: pointer;
        background: #333;
        width: 72px;
        height: 72px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
        top: -38px;
        right: 32px;
        color: #fff;
                    
        i {
            user-select: none;
            font-size: 1.75rem;
            line-height: 72px;
        }
        &:hover {
            box-shadow: 2px 4px 21px rgba(0, 0, 0, .75);                
        }
        &:active {
            box-shadow: 2px 4px 4px rgba(0, 0, 0, .5);                
        }
    }

    .badge-edit {
        background: #607D8B;            
        box-shadow: 2px 4px 8px rgba(96, 125, 139, .5);        
        &:hover {
            box-shadow: 2px 4px 21px rgba(96, 125, 139, .75);                 
        }    
        &:active {
            box-shadow: 2px 4px 4px rgba(96, 125, 139, .5);               
        }
    }
    .badge-follow {
        background: #008FFE;            
        box-shadow: 2px 4px 8px rgba(0, 143, 254, .5);        
        &:hover {
            box-shadow: 2px 4px 21px rgba(0, 143, 254, .75);                 
        }    
        &:active {
            box-shadow: 2px 4px 4px rgba(0, 143, 254, .5);               
        }
    }
    .badge-unfollow {
        background: #FF1744;
        box-shadow: 2px 4px 8px rgba(255, 23, 68, .5);        
        &:hover {
            box-shadow: 2px 4px 21px rgba(255, 23, 68, .75);                 
        }    
        &:active {
            box-shadow: 2px 4px 4px rgba(255, 23, 68, .5);               
        }
    }

    .badge-follow i {
        font-size: 2.5rem;
    }
}

.error-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.25rem;
    color: #555;
    font-weight: bold;
}


@media screen and (min-width: 800px) {
    .page {
        width: calc(100vw - 210px);          
        header {
            .badge-wrapper {
                width: calc(100vw - 210px);       
            }
            .header-badge {
                right: 72px; 
            }
        }
    }
    
}