<div class="page" *ngIf="initialized && err === ''; else error">
  <header>
    <div class="cover">
      <img src="/assets/img/logo.png" alt="avatar" class="avatar">
      <span class="name">{{user.name}}</span>
      <span class="screen-name">@{{user.screen_name}}</span>
      <span class="meta">{{user.description}}</span>
    </div>

    <div class="header-badge badge-edit"
    *ngIf="myname === user.screen_name; else otherUser">
      <i class="material-icons">edit</i>
    </div>
    <ng-template #otherUser>
      <div class="header-badge badge-follow" (click)="follow()" *ngIf="!isFollow; else following">
          <i class="material-icons">add</i>          
      </div>
      <ng-template #following>
          <div class="header-badge badge-follow" (click)="unfollow()">
              <i class="material-icons">remove</i>          
          </div>    
      </ng-template>          
    </ng-template>
  </header>

  <section class="timeline" *ngIf="initialized">
    <div class="posts">
      <tl-post-card *ngFor="let post of posts" [post]="post" (profileClicked)="openProfile($event)"></tl-post-card>
    </div>
  </section>
</div>

<ng-template #error>
  <div class="page error-page">
    <h1>{{err}}</h1>
  </div>
</ng-template>