<div class="page" *ngIf="initialized">
  <header>
    <div class="cover">
      <img src="/assets/img/logo.png" alt="avatar" class="avatar">
      <span class="name">{{user.name}}</span>
      <span class="screen-name">@{{user.screen_name}}</span>
      <span class="meta">{{user.description}}</span>
    </div>

    <div class="header-badge badge-edit">
      <i class="material-icons">edit</i>
    </div>
  </header>

  <section class="timeline" *ngIf="initialized">
    <div class="posts">
      <tl-post-card *ngFor="let post of posts" [post]="post" (profileClicked)="openProfile($event)"></tl-post-card>
    </div>
  </section>
</div>
