html, body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}