.avatar-container {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    
    .avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: auto;
        height: 100%;
    }    
}