.timeline {
  padding-bottom: 32px;
}

@media screen and (min-width: 800px) {
  .timeline {
    width: 80vw;
    height: calc(100% - 34px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 32px;
    padding-bottom: 0;
  }
  .posts {
    padding-bottom: 64px;
  }
  .timeline::-webkit-scrollbar {
    display: none;
  }
}
